
<header>
  <br>
  <br>
  <h1>Welcome to your stock inventory</h1>
</header>
<br>
<br>
<a href="items/new"></a>
<table>
  <tr>
    <th>Name</th>
    <th>Group</th>
    <th>Manufacturer</th>
    <th>Price</th>
    <th>Sell price</th>
    <th>Quantity</th>
    <th>Profit</th>
  </tr>
  <% for item in @items %>
  <tr>
    <td><a href="/items/<%=item.id  %>"><%= item.name %></a> </td>
    <td><%= item.group().name() %></td>
    <td><%= item.manufacturer().name() %></td>
    <td><%= item.price %></td>
    <td><%= item.sell_price %></td>
    <td class="<%= item.check_stock_lvl %>"><%= item.quantity %></td>
    <td><%= item.total_profit() %></td>
    <td> <a href="/items/<%=item.id  %>/edit"> EDIT </a> </td>

  </tr>
  <% end %>
</table>
