
<header>
  <h1>Welcome to your stock inventory</h1>
</header>
<a href="items/all"></a>
<table>
  <tr>
    <th>Name</th>
    <th>Group</th>
    <th>Manufacturer</th>
    <th>Price</th>
    <th>Sell price</th>
    <th>Profit</th>
    <th>Quantity</th>
  </tr>
  <% for item in @items %>
  <tr>
    <td><a href="/items/<%=item.id  %>"><%= item.name %></a> </td>
    <td><%= item.group().name() %></td>
    <td><%= item.manufacturer().name() %></td>
    <td><%= item.price %></td>
    <td><%= item.sell_price %></td>
    <td><%= item.total_profit() %></td>
    <td class="<%= item.check_stock_lvl %>"><%= item.quantity %></td>



  </tr>
  <% end %>
</table>
