<header>
  <h1>All items in stock</h1>
</header>
<a href="items/new"></a>
<table>
  <tr>
    <th>Name</th>
    <th>Group</th>
    <th>Manufacturer</th>
    <th>Price</th>
    <th>Sell price</th>
    <th>Quantity</th>
    <th>Profit</th>
  </tr>
  <% for item in @items %>
  <tr>
    <td><a href="/items/<%=item.id  %>"><%= item.name %></a> </td>
    <td><%= item.group().name() %></td>
    <td><%= item.manufacturer().name() %></td>
    <td><%= item.price %></td>
    <td><%= item.sell_price %></td>
    <td class="<%= item.check_stock_lvl %>"><%= item.quantity %></td>
    <td><%= item.total_profit() %></td>
    <td class="hidden-table-border"> <a href="/items/<%=item.id  %>/edit"> EDIT </a> </td>

  </tr>
  <% end %>
  <tr>
    <td class="hidden-table-border"></td>
    <td class="hidden-table-border"></td>
    <td class="hidden-table-border"></td>
    <td class="hidden-table-border"></td>
    <td class="hidden-table-border"></td>
    <td class="hidden-table-border"></td>
    <td class="hidden-table-border">Total: <%= Item.total_profit_of_all_items  %></td>
  </tr>
</table>
