<h1>Items</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Group</th>
    <th>Manufacturer</th>
    <th>Price</th>
    <th>Sell price</th>
    <th>Quantity</th>
  </tr>
  <% for item in @items %>
  <tr>
    <td><a href="/items/<%=item.id  %>"><%= item.name %></a> </td>
    <td><%= item.group().name() %></td>
    <td><%= item.manufacturer().name() %></td>
    <td><%= item.price %></td>
    <td><%= item.sell_price %></td>
    <td><%= item.quantity %></td>

  </tr>
  <% end %>
</table>


<!-- # <% @items.each do |item| %>
#   <p>Name: <%= item.name() %></p>
#   <p>Price: <%= item.price %></p>
#   <p>Group id: <%= item.group_id %></p>
#   <p>Manufacturer id: <%= item.manufacturer_id %></p>
#   <p>Sell price <%= item.sell_price %></p>
#   <p>Quantity<%= item.quantity %></p>
#   <hr />
# <% end %> -->
