<div>
  <dl>
    <dt>Name</dt>
    <dd> <%= @item.name %> </dd>
  </dl>
<p>Name: <%= @item.name %></p>
<p>Price: <%= @item.price %></p>
<p>Group id: <%= @item.group_id %></p>
<p>Manufacturer id: <%= @item.manufacturer_id %></p>
<p>Sell price: <%= @item.sell_price %></p>
<p>Quantity: <%= @item.quantity %></p>
</div>

<form method="post" action="/items/<%= @item.id %>/delete">
<input type="submit" value="Delete item"/>
</form>


<!-- <dl>
  <dt>Name</dt>
  <dd><a href="/manufacturers/<%=manufacturer.id  %>">
    <%= manufacturer.name %>
  </a></dd>
  <dt>Email</dt>
  <dd><%= manufacturer.email_address %></dd>
</dl> -->
